/* ===== ESTILOS GLOBALES Y VARIABLES ===== */
:root {
	/* Fondos */
	--color-fondo-oscuro-principal: #0d1117;
	--color-fondo-oscuro-secundario: #161b22;
	--color-fondo-claro: #e6edf3;

	/* Acentos principales */
	--color-serenity: #92A8D1;
	/* Azul pastel */
	--color-rose-quartz: #F7CAC9;
	/* Rosa pastel */

	/* Textos */
	--color-texto-claro: #e6edf3;
	--color-texto-oscuro: #0d1117;

	--fuente-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--fuente-principal);
	background-color: var(--color-fondo-oscuro-principal);
	color: var(--color-texto-claro);
}


/* ===== FONDO HEADER, FOOTER ===== */
header,
footer {
	background-color: var(--color-fondo-oscuro-secundario);
}


/* ===== TÍTULOS ===== */
.navbar-brand {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.navbar-brand,
h1,
h2,
footer h3 {
	background: linear-gradient(90deg, var(--color-rose-quartz), var(--color-serenity));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* ===== NAVBAR ===== */
.navbar-nav .nav-link {
	color: var(--color-texto-claro);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: var(--color-rose-quartz);
}

.dropdown-menu {
	background-color: var(--color-fondo-oscuro-principal);
}

.dropdown-item {
	color: var(--color-texto-claro);
}

.dropdown-item:hover {
	background-color: var(--color-rose-quartz);
	color: var(--color-texto-oscuro);
}


/* ===== ALERTA BÚSQUEDA ===== */
.alerta-busqueda {
	color: var(--color-serenity);
}


/* ===== CARRUSEL ===== */
#carrusel-promociones {
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 30px;
	overflow: hidden;
}

.carousel-caption h2 {
	background: none;
	-webkit-text-fill-color: var(--color-texto-claro);
	color: var(--color-texto-claro);
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
}


/* ===== CARGANDO PRODUCTOS ===== */
.spinner-border,
.mensajeCarga {
	color: var(--color-serenity);
}


/* ===== CARDS ===== */
.card {
	border-color: var(--color-serenity);
	background-color: var(--color-fondo-claro);
	text-align: justify;
	transition: all 0.2s;
}

.card:hover {
	transform: translateY(-5px);
}


/* ===== PRECIO PRODUCTOS ===== */
.precio-card {
	background-color: var(--color-serenity);
	color: var(--color-texto-claro);
	border-radius: 6px;
}


/* ===== BOTÓN CARRITO ===== */
/* Agregar al carrito (oculto por defecto) */
.btn-carrito {
	background-color: var(--color-rose-quartz);
	color: var(--color-texto-oscuro);
	opacity: 0;
	visibility: hidden;
	transition: background-color 0.3s, transform 0.2s;
}

/* Agregar otro */
.btn-carrito-agregado {
	background-color: var(--color-rose-quartz);
	color: var(--color-texto-oscuro);
	transition: background-color 0.3s, transform 0.2s;
}

.card:hover .btn-carrito {
	opacity: 1;
	visibility: visible;
}

.btn-carrito:hover,  .btn-carrito-agregado:hover{
	background-color: var(--color-serenity);
	color: var(--color-texto-claro);
	transform: scale(1.05);
}


/* ===== ALERTA CARRITO ===== */
.alerta-carrito {
  background-color: color-mix(in srgb, var(--color-rose-quartz), transparent 4%);
	color: var(--color-texto-oscuro);
}


/* ===== CONTACTO ===== */
footer a {
	color: var(--color-texto-claro);
}

footer a:hover {
	color: var(--color-rose-quartz);
}


/* ===== CARRITO ===== */
.modal-content {
	background-color: var(--color-fondo-oscuro-principal);
	color: var(--color-texto-claro);
}

#modalCarritoLabel {
	color: var(--color-serenity);
}


/* ===== ESTILO BOTÓN PRINCIPAL ===== */
.btn-primary {
	background-color: var(--color-rose-quartz);
	border: none;
	color: var(--color-texto-oscuro);
	transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
	background-color: var(--color-serenity);
	color: var(--color-texto-claro);
	transform: scale(1.02);
}